
/* 
------------------------GENERAL STYLE--------------------
*/

body {
    font-family: 'IBM Plex Mono',
    monospace;
}

.container {
    width: 88%;
    margin: auto;
    overflow: hidden;
}

p {
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
}

h1 {
    font-family: 'IBM Plex Sans', Verdana, sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'IBM Plex Sans', Verdana, sans-serif;
    font-size: 48px;
}

.button {
    background-color:#00F3BB;
    padding: 16px 60px;
}

.button a {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    text-decoration: none; 
}

/* 
------------------------HEADER STYLE--------------------
*/

header {
    /* border: 1px solid red; */
}

.nav-container {
    margin: 22px 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.nav-container nav {
    display: flex;
    align-items: center;
}

.nav-container nav li {
    list-style: none;
    margin-left: 40px;
}

.nav-container img {
    width: 36px;
    height: 36px;
}

.nav-container a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.nav-container a:visited {
    color: #060A24;
}

/* 
------------------------SHOWCASE--------------------
*/

#showcase {
    margin-top: 120px;
    margin-left: 100px;
    min-height: 400px;
}

#showcase .blue-dot {
    color: blue;
}

#showcase .web-info {
    margin-top: 10px;
    width: 628px;
}

#showcase .showcase-button {
    margin-top: 56px;
}

/* 
------------------------ EPISODIOS --------------------
*/


#episodios {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0deg, -5deg);
    height: 950px;
}

#episodios h2 {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 100px;
    padding-top: 150px;
    padding-left: 100px;
}

#episodios .episodios-container {
    transform: skew(0deg, 5deg);
}

#episodios .iframe-container {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 88%;
    height: 630px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#episodios .iframe-container div {
    box-sizing: border-box;
    width: 45%;
    display: inline-block;
}

/* 
-------------------- NOSOTROS ------------------
*/

#nosotros .nosotros-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}
#nosotros .phone-container {
    display: inline-block;
    position: relative;
    right: 100px;
    bottom: 100px;
}

#nosotros .phone-container img {
    height: 40rem;
}

#nosotros aside {
    display: inline-block;
    margin-bottom: 200px;
    margin-left: 50px;
}

#nosotros aside p {
    margin-top: 24px;
}

/* 
-------------------- ENTREVISTAS ------------------
*/

#entrevistas .photos {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

#entrevistas .photos img {
    width: 33.33%;
}

/* 
-------------------- TOPICOS ------------------
*/


#topicos .container {
    margin-top: 64px;
    width: 70%;
}

#topicos .topicos-container {
    width: 95%;
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

#topicos .single-topic-container {
    box-sizing: border-box;
    width: 25%;
    text-align: center;
}

#topicos h3 {
    font-family: 'IBM Plex Sans';
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

/* 
-------------------- NOVEDADES ------------------
*/

#novedades { 
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0deg, -5deg);
    height: 500px;
    margin-top: 100px;
}

#novedades .novedades-container {
    transform: skew(0deg, 5deg);
    padding-top: 200px;
    align-items: center;
    text-align: center; 
}


#novedades .novedades-container h2 {
    color: #FFFFFF;
}

#novedades button {
    margin-top: 45px;
}

/* 
-------------------- FOOTER ------------------
*/

footer .footer-container {
    position: relative;
    padding: 30px 0;
    background-color: #FFFFFF;
    bottom: 50px;
}

footer .nav-container {
    width: 88%;
    margin: 0 auto;
}




/* 
---------------------FOR TESTING BOX ELEMENTS-----------------
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    /* border: 1px solid red; */
}
