/* 
    GENERAL 
*/

* {
    border: 1px solid black;
}

.container {
    
}

.main-nav {
    display: flex;
    /* display: flex;
    justify-content: flex-end; */
}

.header-container {
    display:flex;
    height: 80px;
    align-items: center;
    background-color: lightblue;
}