
/* 
------------------------GENERAL STYLE--------------------
*/

html {
    font-size: 16px;
}

body {
    font-family: 'IBM Plex Mono',
    monospace;
}

p {
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5rem;
}

h1 {
    font-family: 'IBM Plex Sans', Verdana, sans-serif;
    font-size: 4rem;
}
h2 {
    font-family: 'IBM Plex Sans', Verdana, sans-serif;
    font-size: 3rem;
    letter-spacing: 0;
    margin-left: 13%;
}

h2.white {
    color: #FFFFFF;
}

.skew-section {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0deg, -5deg);
    overflow: hidden;
}

.skew-content {
    transform: skew(0deg, 5deg);
}

button {
    background-color:#00F3BB;
    padding: 1rem 3.69rem;
}

button a {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 1.13rem;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.5rem;
    text-decoration: none; 
}

/* 
------------------------NAV STYLE--------------------
*/

.nav-container {
    height: 5rem;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container img {
    width: 2.25rem;
    height: auto;
}

.nav-container .nav-links {
    display: flex;
}

.nav-container .nav-links a {
    text-decoration: none;
    margin-left: 3rem;
}

.nav-container a:visited {
    color: #060A24;
}

/* 
------------------------NAV MOBILE--------------------
*/

.show-menu-btn,
.hide-menu-btn {
    display: none;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


/* 
------------------------SHOWCASE--------------------
*/

#showcase {
    width: 70%;
    margin: auto;
    margin-top: 7.5rem;
}

#showcase .blue-dot {
    color: blue;
}

#showcase .web-info {
    width: 55%;
}

#showcase button {
    margin-top: 3.5rem;
}

/* 
------------------------ EPISODIOS --------------------
*/

#episodios {
    margin-top: 5rem;
}

#episodios .episodios-container {
    padding: 10rem 0;
}

#episodios .iframe-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.3rem;
}

#episodios .iframe-container div {
    margin: 20px 0;
    box-sizing: border-box;
    width: 45%;
}

/* 
-------------------- NOSOTROS ------------------
*/

#nosotros {
    display: flex;
    width: 80%;
    margin: 0 auto;
}


#nosotros .phone-container {
    width: 50%;
    text-align: center;
    
}

#nosotros .phone-container .phone-img {
    width: 30vw;
    position: relative;
    bottom: 8rem;
}

#nosotros .aside {
    width: 40%;
    margin-top: 10vw;
}

#nosotros .aside p {
    margin-top: 1.5rem;
}

#nosotros .aside h2 {
    margin-left: 0;
}

/* 
-------------------- ENTREVISTAS ------------------
*/

#entrevistas h2 {
    color: #060A24;
}

#entrevistas .photos {
    display: flex;
    margin-top: 2.25rem;
    flex-wrap: wrap;
}

#entrevistas .photos img {
    width: 33.33%;
}

/* 
-------------------- TOPICOS ------------------
*/

#topicos {
    margin-top: 4rem;
}


#topicos .topicos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-top: 4.3rem;
}

#topicos .single-topic-container {
    text-align: center;
    width: 70%;
}

#topicos .single-topic-container img {
    width: 6.5rem;
}

#topicos h3 {
    font-family: 'IBM Plex Sans';
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
}

/* 
-------------------- NOVEDADES ------------------
*/

#novedades { 
    margin-top: 7rem;
    margin-bottom: -6rem;
}

#novedades h2 {
    margin-left: 0;
    
}

#novedades .novedades-container {
    padding-top: 10rem;
    padding-bottom: 15rem;
    align-items: center;
    text-align: center; 
}

#novedades button {
    margin-top: 2.25rem;
}

/* 
-------------------- FOOTER ------------------
*/

footer {
    background-color: #FFFFFF;
    height: 5rem;
    bottom: 2.5rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* 
-------------------- RESPONSIVE TABLETS ------------------
*/

/* 
-------------------- PRIMER BREAKPOINT ------------------
*/
@media (max-width: 1366px) {

    html {
        font-size: 14px;
    }

    #nosotros {
        width: 90%;
    }

    #nosotros .aside {
        width: 45%;
        margin-top: 7vw;
    }

}

/* 
-------------------- RESPONSIVE MOBILE ------------------
*/

@media (max-width: 1024px) {

    html {
        font-size: 12px;
    }

    #nosotros {
        width: 95%;
    }

    #nosotros .aside {
        width: 45%;
        margin-top: 5vw;
    }

    
}

@media (max-width: 720px) {

    html {
        font-size: 12px;
    }

    .nav-container,
    #showcase {
        margin: 0 auto;
        width: 90%;
    }

    #showcase .web-info {
        width: 100%;
    }

    .nav-container {
        height: 3.5rem;
    }

    .nav-container .nav-links {
        position: absolute;
        background: #0000EC;
        top: 3.5rem;
        left: 0;
        width: 100%;
        margin: 0px;
        float: right;
        padding: 0 5%;
        text-align: left;
        display: block;
    }

    .nav-container .nav-links a {
        display: block;
        margin: 20px 0;
        text-decoration: none;
    }

    .nav-container a:visited {
        color: #060A24;
    }

}